@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "sfpro-reg";
    src: url("./fonts/sf-pro/SFPRODISPLAYREGULAR.OTF");
    font-family: "sfpro-bold";
    src: url("./fonts/sf-pro/SFPRODISPLAYBOLD.OTF");
    font-family: "sfpro-med";
    src: url("./fonts/sf-pro/SFPRODISPLAYMEDIUM.OTF");
}


@layer components {

/* Company logos */
    .container{
        @apply flex justify-center items-center
    }
    .companies-logo{
        @apply 
        flex justify-center content-center
        /* md:w-auto w-[100px] h-auto  */
    }
/* Services section */
    .TDriver{
        @apply   bg-[url(./images/truckDriver.jpeg)]
        relative md:h-[480px] h-[380px] w-auto
        bg-cover
    }
    .Gradient{
        @apply bg-black bg-opacity-30 bg-cover
        w-[100%] h-[100%]
    }
/* Articles section */
    .first-img{
        @apply   bg-[url(./images/proterra-industry.png)]
    }
    .second-img{
        @apply   bg-[url(./images/lacroix-industry.png)]
    }
    .ArticleImgSlant{
        @apply bg-whiteSmoke h-[70px] w-[16.2rem] mt-[-12px]
        absolute skew-y-[5deg] left-[-1px]
    }
    .ArticleImg{
        @apply h-96 bg-cover bg-center relative z-[0]
    }
    .ArticleTag{
        @apply text-enviraBlue font-sfproBold
        text-[13px] mt-[2px]
    }
    .ArticleHeadline{
        @apply font-sfproBold leading-none text-lg mt-1
    }
    .ArticleAuthor{
        @apply text-gray-600 text-sm mt-0.5 font-sfproMed
    }
    .BlueButton{
        @apply mt-2
    }
/*Contact us form */
    .contact-container{
        @apply flex justify-center items-center 
        md:flex-row flex-col bg-enviraDarkOrange
    }
    .contact-left-container{
        @apply md:ml-4 mt-8
    }
    .form-components{
        @apply w-[100%] mb-4
    }
    label{
        @apply text-2xl text-white
    }
    input, textarea{
        @apply bg-gray-50 w-[100%] text-xl p-2 
        outline-none border-none rounded-md mt-1 text-black
    }
    textarea{
        @apply min-h-[110px] resize-y
    }
    button[type="submit"]{
        @apply text-white outline-none border-none
        bg-enviraGreen rounded-md 
        md:float-right md:mt-5 mb-3 md:mb-0
    }
    .contact-right-container{
        @apply md:w-[25%] w-[85%] h-[40%] bg-none
        md:my-6 md:mr-4 mt-[0vh] md:mb-4 mb-8
        flex flex-col justify-center items-center
    }
    .contact-info-outline{
        @apply bg-enviraDarkOrange shadow-lg rounded-lg 
        p-2 text-center
        flex items-center justify-center
    }
/* footer box */
    .footer-box{
        @apply h-[70px] flex justify-center items-center
        bg-black text-whiteSmoke text-lg
    }
    .footer-box img{
        @apply h-9 w-9 m-1
    }
}

