@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "sfpro-reg";
    src: url("./fonts/sf-pro/SFPRODISPLAYREGULAR.OTF");
    font-family: "sfpro-bold";
    src: url("./fonts/sf-pro/SFPRODISPLAYBOLD.OTF");
    font-family: "sfpro-med";
    src: url("./fonts/sf-pro/SFPRODISPLAYMEDIUM.OTF");
}


@layer components {
    /* Company logos */
    .container{
        @apply flex justify-center items-center
    }
    .companies-logo{
        @apply 
        flex justify-center content-center
        w-[300px] h-auto md:h-auto md:w-auto
    }
/* Services section */
    .TDriver{
        @apply   bg-[url(./images/truckDriver.jpeg)]
        relative h-[380px] md:h-[480px] w-auto
        bg-cover
    }
    .Gradient{
        @apply bg-black bg-opacity-30 bg-cover
        w-[100vw] h-[100%]
    }
/* Articles section */
    .Tesla-img{
        @apply   bg-[url(./images/proterra-industry.png)]
    }
    .CocaCola-img{
        @apply   bg-[url(./images/lacroix-industry.png)]
    }
    .ArticleImgSlant{
        @apply bg-whiteSmoke h-[70px] w-64 mt-[-20px] absolute skew-y-6
    }
    .ArticleImg{
        @apply h-96 bg-cover bg-center
    }
    .ArticleTag{
        @apply text-enviraBlue font-sfproBold text-[13px] mt-[2px]
    }
    .ArticleHeadline{
        @apply font-sfproBold leading-none text-lg mt-1
    }
    .ArticleAuthor{
        @apply text-gray-600 text-sm mt-0.5 font-sfproMed
    }
    .BlueButton{
        @apply  border-enviraBlue mt-2
    }
/*Contact us form */
    .form-components{
        @apply w-[100%] mb-4
    }
    label{
        @apply text-2xl text-white
    }
    input, textarea{
        @apply bg-gray-50 w-[100%] text-2xl p-2 
        outline-none border-none rounded-md mt-1 text-black
    }
    textarea{
        @apply min-h-[110px] resize-y
    }
    button[type="submit"]{
        @apply text-white outline-none border-none
        bg-enviraGreen rounded-md
    }
    /* footer box */
    .footer-box{
        @apply h-[70px] flex justify-center items-center
        bg-black text-whiteSmoke text-lg
    }
    .footer-box img{
        @apply h-9 w-9 m-1
    }
}

