@font-face {
    font-family: sfpro-reg;
    src: url(./fonts/sf-pro/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
    font-family: sfpro-bold;
    src: url(./fonts/sf-pro/SFPRODISPLAYBOLD.OTF);
}
@font-face {
    font-family: sfpro-med;
    src: url(./fonts/sf-pro/SFPRODISPLAYMEDIUM.OTF);
}
*{
    margin:0;
    padding: 0;
    font-family: sfpro-reg
}

:root { /* colors */
    --envira-green:  #1fda76;
    --envira-orange: #da4f1f;
    --envira-dark-orange: #993716;
    --envira-blue: #2649da;
    --envira-dark-blue: #1a3399;
    --whiteSmoke: #f5f5f5;
}

button{ /* universal button*/
    overflow: hidden;
    color: var(--whiteSmoke);
    background-color: var(--envira-orange);
    font-size: 1.3rem;
    font-family: sfpro-bold;
    width: 8rem;
    height: 2.8rem;
    cursor: pointer;
    border-radius: .7rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    box-shadow: 0 0 0 0 rgba(192, 31, 31, 0.5), 0 0 0 0  rgba(0, 117, 20, 0.5);
}
button::after{
    content: '';
    position: absolute;
    border-radius: inherit;
    width: 400px;
    height: 400px;
    top: -200px;
    left: -100px;
    background-color: deeppink;
    background-image: linear-gradient(
     225deg,
     #2f63f1 0%,
     #00e97c 50%,
     #ff5f3b 100%
     );
    z-index: -1;
    transition: transform 0.5s ease;
}
button:hover{
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px 1px rgba(7, 0, 0, 0.5), 5px 5px 20px 0  rgba(0, 117, 20, 0.5);
}
button:hover::after{
    transform: rotate(150deg);
}

/* --- header --- */
.header{
 background-color: var(--whiteSmoke);
 z-index: 1;
 position: relative;
}
.header:after{ /* razor blade div effect */
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform-origin: bottom left;
    transform: skewY(1.4deg);
}
.header-box{
    height:40px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin: 0vw 6vw;
    padding-top: 2vw;
    padding-bottom:2vw;
    gap: 3vw;
}
.logo-container{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.logo{
    font-family: sfpro-bold;
    font-size:28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--envira-dark-orange); 
    line-height: 6px;
}
.sub-logo{
    font-family: sfpro-bold;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--envira-dark-orange);
}
.header-links{
    width: 270px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.header-box p{ /* header links 1, 2, 3 respectively*/
    font-family: sfpro-bold;
    height:40px;
    flex:1 1 auto;
    font-size:18px;
    color: rgb(69, 69, 69);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-box button{
    height: 2.3rem;
    width: 6.5rem;
    font-size: 1rem;    
}


/* --- intro (hero) ---*/
.hero{
    background-color: var(--whiteSmoke);
}
.hero-inner{
    background-image: linear-gradient(-4deg, rgb(243, 243, 243, .8) -40%, rgba(83, 83, 83, 0.95) 60%); 
    background-color:rgb(104, 103, 103);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    margin: 0vh 0vw 0vh 0vw;
    padding-top: 4vh;
}
.intro-text-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: -20vh 0vw 0vh 7vw;
}
.slogan{
    color: var(--whiteSmoke); 
    font-size:48px;
    font-family: sfpro-bold;
    line-height: 1;
}
.sub-slogan{
    color:  var(--envira-green);
    font-size:48px;
    font-family: sfpro-bold;
    margin-top: 0; /*may have to change this to optimize for page zoom discrepancies*/
    line-height: 1;
}
.sub-text{
    width: 490px;
    font-size:18px;
    color: var(--whiteSmoke);
    margin-top: 0%;
    margin-bottom: 3%;
}
.bac-img1-woman{
    background-image: url(./SVGs/credit-card.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height:100%;
    margin: 15vh 7vw 0vh 0vw;
}
@media only screen and (max-width:768px){
    .header-box{
        height: 60px;
    }
    .hero-inner{
        flex-direction: column;
        height: 130vh;
        justify-items: flex-start;
        margin: 0;

    }
    .intro-text-container{
        margin: 2vh 0vw 8vh 0vw;
    }
    .sub-slogan{
        margin-top: 0%;
    }
    .sub-text{
        margin-top: 0%;
        margin-bottom: 4%;
    }
    .bac-img1-woman{
        margin: 0vh 5vw 0vh 5vw;
    }
}

/* --- body 1; features cards --- */
.body-1-features{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--whiteSmoke);
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 30px;
    z-index: 1;
  }
.body-1-features:after{ /* razor blade div effect */
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transform: skewY(3deg);
}
.all-cards-container{ /* container holds all cards */
    width: 80vw;
    margin-top: -7%;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.feature-card-container{ /* individual card container, universally used */
    background-color: var(--whiteSmoke);
    width: 200px;
    height: auto;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    box-shadow: 7px 7px 10px rgb(131, 131, 131);
}
.feature-img-container-align{ /* contains all feature icon */
    margin-top: 5vh; /* may need to change vh */
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.feature-text-container-align{ /* contains all feature text */
    margin: 1vh 10% 2.5vh 10%; /* may need to change vh */
}
@media only screen and (max-width:768px){
    .all-cards-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-top: -12vh;
    }
    .feature-card-container{
        width: 350px;
        height: auto;
    }
    .feature-text-container-align{
        margin: 1vh 10px 4vh 10px; /* may need to change vh */

    }
}
.feature-img-container{ /* green circle behind feature icon */
    background-color: var(--envira-green);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
.feature-card-container img{ /* feature icon */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clipboard{
    width: 65px;
    height: auto;
}
.truck{
    width: 70px;
    height: auto;
    padding-top: 5%;
}
.cash{
    width: 60px;
    height: auto;
}
.feature-title{
    font-family: sfpro-bold;
    font-size: large;
    text-align: center;
    font-weight: bold;
    color: black;
    margin-top: 2%;
}
.feature-subtext{
    margin-top: 1%;
    color: black;
    height: auto;
    text-align: center;
}
.fine-print{
    margin-top: 2%;
    color: rgb(75, 75, 75);
    text-align: center;
    font-size: small;
}